
<li class="dropdown pc-h-item"><a class="pc-head-link dropdown-toggle arrow-none me-0"
                                  data-bs-toggle="dropdown" href="#"
                                  role="button" aria-haspopup="false" aria-expanded="false">
    <svg class="pc-icon">
        <use xlink:href="#custom-setting-2"></use>
    </svg>
</a>
    <div class="dropdown-menu dropdown-menu-end pc-h-dropdown"><a href="#!"
                                                                  class="dropdown-item"><i
        class="ti ti-user"></i> <span>My Account</span> </a><a href="#!"
                                                               class="dropdown-item"><i
        class="ti ti-settings"></i> <span>Settings</span> </a><a
        href="#!" class="dropdown-item"><i class="ti ti-headset"></i> <span>Support</span>
    </a><a href="#!" class="dropdown-item"><i class="ti ti-lock"></i> <span>Lock Screen</span>
    </a><a href="#!" class="dropdown-item"><i class="ti ti-power"></i>
        <span>Logout</span></a></div>
</li>
<li class="pc-h-item"><a href="#" class="pc-head-link me-0"
                         data-bs-toggle="offcanvas" data-bs-target="#announcement"
                         aria-controls="announcement">
    <svg class="pc-icon">
        <use xlink:href="#custom-flash"></use>
    </svg>
</a></li>


<li class="dropdown pc-h-item"><a class="pc-head-link dropdown-toggle arrow-none me-0"
                                  data-bs-toggle="dropdown" href="#"
                                  role="button" aria-haspopup="false" aria-expanded="false">
    <svg class="pc-icon">
        <use xlink:href="#custom-notification"></use>
    </svg>
    <span class="badge bg-success pc-h-badge">3</span></a>
    <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
        <div class="dropdown-header d-flex align-items-center justify-content-between"><h5 class="m-0">
            Notifications</h5><a href="#!" class="btn btn-link btn-sm">Mark
            all read</a></div>
        <div class="dropdown-body text-wrap header-notification-scroll position-relative"
             style="max-height: calc(100vh - 215px)"><p class="text-span">Today</p>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <svg class="pc-icon text-primary">
                                <use xlink:href="#custom-layer"></use>
                            </svg>
                        </div>
                        <div class="flex-grow-1 ms-3"><span class="float-end text-sm text-muted">2 min ago</span>
                            <h5 class="text-body mb-2">UI/UX Design</h5>
                            <p class="mb-0">Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type</p></div>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <svg class="pc-icon text-primary">
                                <use xlink:href="#custom-sms"></use>
                            </svg>
                        </div>
                        <div class="flex-grow-1 ms-3"><span class="float-end text-sm text-muted">1 hour ago</span>
                            <h5 class="text-body mb-2">Message</h5>
                            <p class="mb-0">Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500.</p></div>
                    </div>
                </div>
            </div>
            <p class="text-span">Yesterday</p>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <svg class="pc-icon text-primary">
                                <use xlink:href="#custom-document-text"></use>
                            </svg>
                        </div>
                        <div class="flex-grow-1 ms-3"><span class="float-end text-sm text-muted">2 hour ago</span>
                            <h5 class="text-body mb-2">Forms</h5>
                            <p class="mb-0">Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type</p></div>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <svg class="pc-icon text-primary">
                                <use xlink:href="#custom-user-bold"></use>
                            </svg>
                        </div>
                        <div class="flex-grow-1 ms-3"><span class="float-end text-sm text-muted">12 hour ago</span>
                            <h5 class="text-body mb-2">Challenge invitation</h5>
                            <p class="mb-2"><span class="text-dark">Jonny aber</span> invites to join
                                the challenge</p>
                            <button class="btn btn-sm btn-outline-secondary me-2">Decline</button>
                            <button class="btn btn-sm btn-primary">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <svg class="pc-icon text-primary">
                                <use xlink:href="#custom-security-safe"></use>
                            </svg>
                        </div>
                        <div class="flex-grow-1 ms-3"><span class="float-end text-sm text-muted">5 hour ago</span>
                            <h5 class="text-body mb-2">Security</h5>
                            <p class="mb-0">Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center py-2"><a href="#!" class="link-danger">Clear all
            Notifications</a></div>
    </div>
</li>




<div class="card">
    <div class="card-body py-3">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="mb-0 d-inline-flex align-items-center">
                <svg class="pc-icon text-muted me-2">
                    <use xlink:href="#custom-notification-outline"></use>
                </svg>
                Notification
            </h5>
            <div class="form-check form-switch form-check-reverse m-0"><input
                class="form-check-input f-18" type="checkbox" role="switch"></div>
        </div>
    </div>
</div>
