body {
    font-family: Arial, sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
}

#dropdownInput {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-sizing: border-box;
}

.dropdown-item {
    padding: 12px 16px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #ddd;
}

.dropdown.show .dropdown-content {
    display: block;
}
